<header>
    <div class="container_24">
        <div class="grid_10 menu-container">
            <nav class="left">
                <a href="#">R&amp;B</a>
                <a href="#">Participar</a>
            </nav>
        </div>
        
        <div class="grid_4 logo">
            <%= image_tag "ruby-logo.png", :class => "logo-ruby" %>
        </div>
        
        <div class="grid_10 menu-container">
            <nav class="right">
                <a href="#">Projetos</a>
                <a href="#">Contato</a>
            </nav>
        </div>
    </div>
</header>
