<section class="banner">
    <div class="container_24">
        <div class="grid_12 banner-text">
            <h1>Ruby and Beer</h1>
            <p>Se voc&ecirc; gosta de Ruby e de Cerveja, veio ao lugar certo.</p>
        </div>
    </div>
</section>
<section class="banner-bottom">
    <div class="container_24">
        &nbsp;
    </div>
</section>
<section class="content">
    <div class="container_24">
        <article class="grid_5 suffix_1">
            <div class="image">
                <p>#imagem</p>
            </div>
            <h3>Lorem ipsum dolor.</h3>
            <p>
                Fusce non sem eu mi sodales euismod. Donec justo quam, feugiat vel 
                cursus vitae, iaculis sed arcu. Nullam commodo nisi et erat gravida
                auctor.
            </p>
        </article>
        <article class="grid_5 suffix_1">
            <div class="image">
              <p>#imagem</p>
            </div>
            <h3>Lorem ipsum dolor.</h3>
            <p>
                Fusce non sem eu mi sodales euismod. Donec justo quam, feugiat vel 
                cursus vitae, iaculis sed arcu. Nullam commodo nisi et erat gravida
                auctor.
            </p>
        </article>
        <article class="grid_5 prefix_1">
            <div class="image">
              <p>#imagem</p>
            </div>
            <h3>Lorem ipsum dolor.</h3>
            <p>
                Fusce non sem eu mi sodales euismod. Donec justo quam, feugiat vel 
                cursus vitae, iaculis sed arcu. Nullam commodo nisi et erat gravida
                auctor.
            </p>
        </article>
        <article class="grid_5 prefix_1">
            <div class="image">
              <p>#imagem</p>
            </div>
            <h3>Lorem ipsum dolor.</h3>
            <p>
                Fusce non sem eu mi sodales euismod. Donec justo quam, feugiat vel 
                cursus vitae, iaculis sed arcu. Nullam commodo nisi et erat gravida
                auctor.
            </p>
        </article>
    </div>
</section>

<section class="rb">
    <div class="container_24">
        <div class="grid_12">
            <h1>Ruby and Beer</h1>
            <h2>Ruby, Ceveja! Ceveja, Ruby!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis 
                neque sit amet augue ullamcorper posuere. Praesent ornare ultrices tortor, 
                non ultricies erat posuere condimentum. Maecenas ac lorem a urna posuere 
                dapibus sed eu tellus. Pellentesque ac dui libero. Aenean non mauris ante. 
                Aliquam erat volutpat.
            </p>
            <p>
                Quisque dictum dictum turpis, vitae gravida magna 
                porttitor non. Vestibulum venenatis bibendum sem, a ultrices libero blandit 
                eu. Aliquam venenatis velit a neque consectetur pharetra. Suspendisse et 
                odio massa, et aliquet quam. Integer at egestas nibh.
            </p>
        </div>
    </div>
</section>

<section class="participar">
    <div class="container_24">
        <h1>Participar</h1>
        <form>
            <input type="text" value="" /><br />
            <input type="email" value="" /><br />
            <input type="submit" value="Solicitar Participa&ccedil;&atilde;o" />
        </form>
    </div>
</section>
